#container #menuBar #bMenuBar{
    width: 100%;
}
#container #menuBar #bMenuBar > div{
    border: 1px transparent blue;
    height: 43px;
    width: 100%;
    display: flex;
}
#bMenuBar > .a:hover, #sMenuBar > div:hover{
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}
#bMenuBar .a >img{
    width: 25px;
    height: 25px;
    margin: 9px 26px 9px 29px;
}
#bMenuBar .a > p{
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
}
#bMenuBar #bHome{
    background-color: rgb(216, 216, 216);
}
.b{
    margin-left: 30px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgb(3, 3, 3);
}
#bMenuBar .signIn{
    margin-left: 30px;
    margin-top: 0px;
}

